@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* { 
    padding: 0; 
    margin: 0; 
    outline: none; 
    border: none; 
    box-sizing: border-box; 

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

body { 
    display: flex; 
    align-items: center; 
    justify-content: center;

    height: 100vh; 
    margin: 0; 

    color: #000;
    background: linear-gradient(45deg, #3c00a0, #8500d7);
}

.login-container { 
    display: flex; 

    max-width: 700px; 
    width: 90%;
    height: 85%; 

    border-radius: 20px; 
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.login-form { 
    width: 300px; 
    
    padding: 50px 30px 70px; 
    text-align: center; 
}

.login-form h1 { 
    font-size: 30px; 
    color: #342E37;

    margin-bottom: 45px; 
    position: relative; 
}

.login-form h1::after { 
    content: ''; 

    width: 30px; 
    height: 4px; 

    border-radius: 3px; 
    background: linear-gradient(45deg, #3c00a0, #8500d7);

    position: absolute; 
    bottom: -12px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.input-group { 
    height: 150px;  
}

.input-field { 
    display: flex; 
    align-items: center; 

    margin: 15px 0; 
    max-height: 65px; 

    transition: max-height 0.5s;
    border-radius: 8px; 
    overflow: hidden; 

    background: #eaeaea; 
}

input { 
    width: 100%; 
    background: transparent; 
    padding: 10px 15px; 
}

.input-field i { 
    margin-left: 15px; 
    color: #999; 
}

form p { 
    text-align: left; 
    font-size: 10px; 

    margin-top: -10px; 
}

form p a { 
    font-size: 10px; 
    text-decoration: none; 
    color: #3c00a0;
}

.button-field { 
    width: 100%; 

    display: flex; 
    justify-content: space-between;

    margin-top: 30px; 
}

.button-field button { 
    flex-basis: 48%; 

    height: 40px; 
    background: linear-gradient(45deg, #3c00a0, #8500d7);

    color: #fff; 
    font-weight: 600; 

    border-radius: 8px; 
    cursor: pointer; 
    transition: background 1s; 
}

.button-field button.disable { 
    border: 2px solid black; 
    color: #000; 
    background:#fff; 
}

.picture-slider { 
    flex: 1; 
    height: 100%;  
}


